<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>NSSN</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js -->
    <script src="/static/js/bootstrap.min.js"></script>
      
    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <link href="/static/css/register.css" rel="stylesheet">
      
  </head>
  <body>
	{% if session.user %}
    <!--Copied nav bar code from index page-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/frontpage">NSSNetwork</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a href="/home">Home</a></li>
            <li role="presentation"><a href="/profile">Profile</a></li>
            <li role="presentation"><a href="/message">Messages </a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>                
                
            <form class="navbar-form navbar-right" method="get">              
                <div class="form-group">
                  <input type="text" placeholder="NSSN" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary" href="/search" value="Search" />
            </form>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/frontpage">NSSNetwork</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <!-- Will need logic to hide this after login 
            Based on server-side logic descerning the user authentication-->
          <form class="navbar-form navbar-right" action="/login" method="post">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="Email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="Password">
            </div>  
            <input type="submit" class="btn btn-success" value="Sign in" />
              <a href="/registration"><p class="btn btn-default">Register</p></a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% endif %}
    
    <!--Page content-->
    <div class="bg"></div>
    <div class="jumbotron img-header">
      <div class="container">
			<h1>About us</h1>
			<p>Just 4 guys doing their Software Engineering homework.</p>
		</div>
	</div>
	
    <div class="container">
        <div class = "page-header">
            <h1>
                The Software Engineering Rap<br/>
                <small>Featuring the DK Crew</small>
            </h1>
        </div>

        <p>
            So they're finally here, performing for you.
            If you know the words, you can join in too.
            Put your hands together, if you want to clap,
            As we take you through this monkey rap.
            Huh!
        </p>

        <p id = "name1"></p>

        <p>
            He's the leader of the bunch, you know him well.
            He's finally back to kick some tail.
            His Coconut Gun can fire in spurts.
            If he shoots ya, it's gonna hurt.
            He's bigger, faster, and stronger too.
            He's the first member of the DK crew.
            Huh!
        </p>

        <p id = "name2"></p>

        <p>
            He has no style, he has no grace.
            This Kong has a funny face.
            He can handstand when he needs to.
            And stretch his arms out, just for you.
            Inflate himself just like a balloon.
            This crazy Kong just digs this tune.
            Huh!
        </p>

        <p id = "name3"></p>

        <p>
            He's back again and about time too.
            And this time he's in the mood.
            He can fly real high with his jetpack on.
            With his pistols out, he's one tough Kong.
            He'll make you smile when he plays his tune.
            But Kremlings beware 'cause he's after you.
            Huh!
        </p>

        <p id = "name4"></p>

        <p>
            Finally, he's here for you.
            It's the last member of the DK crew.
            This Kong's so strong, it isn't funny.
            Can make a Kremling cry out for mummy.
            Can pick up a boulder with relative ease.
            Makes crushing rocks seem such a breeze.
            He may move slow, he can't jump high.
            But this Kong's one hell of a guy.
            Huh!
        </p>

        <p>
            C'mon Cranky, take it to the fridge!
        </p>

        <p>
            Walnuts, peanuts, pinapple smells.
            Grapes, melons, oranges and coconut shells.
            Ahh yeah!!
        </p>
    </div>
	
		<!--JavaScript for randomizing names-->
    <script src="/static/js/namerandomizer.js"></script>
	
      
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <a class="navbar-brand" href="/contacts">Contacts</a>
                </div>
                <div class="col-md-6 col-sm-3 col-xs-6">
                    <a class="navbar-brand" href="/aboutus">About Us</a>
                </div>
            </div>
          </div>
      </nav>
	
    <script src="/static/js/parallax.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>